.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--secondary-color);
}

.header__container {
  @media (max-width: 1199px) {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__logo {
  @media (min-width: 768px) {
    margin-right: 88px;
  }
  @media (min-width: 1200px) {
    margin-right: 93px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;

    list-style: none;
  }
}

.nav-list__link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--main-duration) var(--main-timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: auto;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.header-list__item:not(:last-child) {
  @media (min-width: 1200px) {
    margin-right: 50px;
  }
}
.contact-link {
  display: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
  transition: color var(--main-duration) var(--main-timing-function);

  @media (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.contact-link__icon {
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill var(--main-duration) var(--main-timing-function);
}

.contact-link:hover .contact-link__icon,
.contact-link:focus .contact-link__icon {
  fill: var(--color-accent);
}
