.team-section {
  background-color: #f5f4fa;

  &__list {
    display: flex;
    margin-top: 50px;
    margin-left: calc(var(--main-margin) * -1);
    list-style: none;
  }

  &__item {
    margin-left: var(--main-margin);
    width: calc(100% / 4 - var(--main-margin));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow var(--main-duration) var(--main-timing-function);
  }
}

.card-component {
  padding: 30px;
}

.employee {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.specialty {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}
