.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--main-color);
  line-height: 1.19;
  text-decoration: none;
}

.logo__part {
  color: var(--color-accent);
}
